#maindiv
{
	display: inline-block;
	background-color:#EBEBEC;
	height: 1000px;
	width: 1300px;
	
}
#formback
{
	
	background-color:white;
	width: 800px;
	height: 500px;
	margin:200px;


}
#table1 {
    border-collapse: separate;
    border-spacing: 25px 35px;
    border:5px;

}
.border
{
	border:none;
}
input[type=text] {
    
    
    border-top:none;
    border-left:none;
    border-right:none; 
    border-radius: 4px;
   
}
input[type=password] {
    
    
    border-top:none;
    border-left:none;
    border-right:none; 
    border-radius: 4px;
      
}
#image
{
	padding-top:20px; 
	padding-bottom:10px;
	padding-right: 10px;
	padding-left: 20px;


}
#create
{
	
    font-size: 25px;
    margin-left: 23px;
    margin-right: 10px;
    
    margin-bottom: 10px;
}
.static-value{
	position:absolute;
	left:540px;
	font-weight:bold;
	font-size:0.9em;
	color:#444444db;
	top:424px;
}
a:link{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
/*a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/
#marginanchor
{
	   float: left;
	   margin-left: 23px;
      margin-right: 10px;
      margin-top: 47px;
      margin-bottom: 10px;


}
#nextb
{
	 float: left;
    color: white;
    background-color: #4285F4;
    height: 40px;
    width: 80px;
    font-size: 20px;
    margin-left: 220px;
    margin-top: 35px;
    text-align: center;
    border: 2px solid #4285F4;
   
    border-radius: 5px;
}
#LeftSide
{
	float: left;
}
#RightSide
{
	float: left;
    margin-top: 90px;
    margin-left: 60px;
    color:#444444db;

}
#textalign
{
	    text-align: center;
    width: 200px;
    font-size: 20px;

}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 320px;
  bottom: 360px;
  left: 238px;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
  
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 232px;
  top: 350px;
  color:#44444482;
  font-weight:normal;

  transition: 0.2s ease all;
}

input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
  top: 320px;
  bottom: 360px;
  left: 451px;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}
.floating-label2 {
  position: absolute;
  pointer-events: none;
  left: 451px;
  top: 350px;
  color:#44444482;
  font-weight:normal;
  
  transition: 0.2s ease all;
}

input:focus ~ .floating-labelemail,
input:not(:focus):valid ~ .floating-labelemail{
  top: 395px;
  bottom: 360px;
  left: 234px;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}
.floating-labelemail{
  position: absolute;
  pointer-events: none;
  left: 232px;
  top: 422px;
  color:#44444482;
  font-weight:normal;
  
  transition: 0.2s ease all;
}

input:focus ~ .floating-labelpass,
input:not(:focus):valid ~ .floating-labelpass{
  top: 483px;
  bottom: 360px;
  left: 235px;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}
.floating-labelpass {
  position: absolute;
  pointer-events: none;
  left: 232px;
  top: 510px;
  color:#44444482;
  font-weight:normal;
  
  transition: 0.2s ease all;
}
input:focus ~ .floating-labelconfirm,
input:not(:focus):valid ~ .floating-labelconfirm{
  top: 483px;
  bottom: 360px;
  left: 445px;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}
.floating-labelconfirm {
  position: absolute;
  pointer-events: none;
  left: 444px;
  top: 510px;
  color:#44444482;
  font-weight:normal;
  
  transition: 0.2s ease all;
}
#pass_id
{
  float: left;
  margin-left: 22px;

}
#pass_id2
{
  float: left;
  margin-left: 42px;

}
#smallid
{
   margin-left:22px;
   display: block;
   color: #444444db;
}
#error1
{
  display: block;
}
#error2
{
  display: block;
}
#smallid2
{
  color: #444444db;
}