@charset "utf-8";
/* CSS Document */
#maindiv
{
	background-color:#EBEBEC;
	width: 1300px;
	height: 800px;
	display: inline-block;
}
#formContainer
{
	background-color:white;
	height: 474px;
	width: 500px;
	margin-left: 350px;
	margin-top: 80px;
	margin-bottom: 80px;
	
}
#image
{
	padding-top:36px; 
	padding-bottom:10px;
	padding-right: 10px;
	padding-left: 20px;


}
#sign
{
	font-size: 30px;
	font-weight: normal;
	margin-left: 23px;
    
	
}
#account
{
	
	margin-left: 23px;
    
}
input[type=text] {
    
    
    border-top:none;
    border-left:none;
    border-right:none; 
    border-radius: 4px;
   
}
#email
{
	margin-left: 23px;
	margin-top: 72px;
	
	width: 400px;
}
a:link{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
#anchortag
{
	margin-left: 23px;
	margin-top: 40px;
}
#learnmore
{
	margin-top:40px;
	margin-left:23px;
	color: #444444db;	
}
#create
{
	float: left;
	margin-top:40px;
	margin-left:23px;
}
#nextb
{
	float: left;
    color: white;
    background-color: #4285F4;
    height: 40px;
    width: 85px;
    font-size: 18px;
    margin-left: 220px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #4285F4;
   
    border-radius: 5px;
}
input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
  top: 266px;
  bottom: 360px;
  left: 382pxpx;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}

.floating-label2 {
  position: absolute;
  pointer-events: none;
  left: 382px;
  top: 296px;
  color:#44444482;
  font-weight:normal;
  transition: 0.2s ease all;
}
#error
{
	margin-left: 23px;
}
.requestProgress {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #007db6, #5893F5, #5893F5, #00a77e, #5893F5, #60b031, #a5b62e)
}

.bar {
  position:absolute;
  width: calc(100% * 2/7);
  height: 100%;
  display: flex;
  animation: move 2s linear infinite;
  background-color: white;
}

@keyframes move
{
    0%   {transform: translate(-100%, 0)}
    100% {transform: translate(calc(7/2*100%), 0)}
}

