@charset "utf-8";
/* CSS Document */
#maindiv
{
	background-color:#EBEBEC;
	width: 1300px;
	height: 800px;
	display: inline-block;
}
#formContainer
{
	background-color:white;
	height: 474px;
	width: 500px;
	margin-left: 350px;
	margin-top: 80px;
	margin-bottom: 80px;
	
}
#image
{
	padding-top:36px; 
	padding-bottom:10px;
	padding-right: 10px;
	padding-left: 20px;


}
#sign
{
	font-size: 30px;
	font-weight: normal;
	margin-left: 23px;
    
	
}
#user
{
	float: left;
	margin-left: 24px;
}
#account
{
	float: left;
	
	margin-left: 5px;
    
}
input[type=password] {
    
    
    border-top:none;
    border-left:none;
    border-right:none; 
    border-radius: 4px;
   
}
#passwordid
{

	margin-left: -25px;
	margin-top: 72px;
	
	width: 420px;
}
a:link{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:#5893F5;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
#anchortag
{
	margin-left: 23px;
	margin-top: 40px;
}
#learnmore
{
	margin-top:40px;
	margin-left:23px;	
}
#create
{
	float: left;
	margin-top:40px;
	margin-left:23px;
}
#nextb
{
	float: left;
    color: white;
    background-color: #4285F4;
    height: 40px;
    width: 85px;
    font-size: 18px;
    margin-left: 220px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #4285F4;
   
    border-radius: 5px;
}
input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
  top: 266px;
  bottom: 360px;
  left: 382pxpx;
  font-size: 11px;
  color:#4285F4;
  opacity: 1;
}

.floating-label2 {
  position: absolute;
  pointer-events: none;
  left: 382px;
  top: 296px;
  color:#44444482;
  font-weight:normal;
  transition: 0.2s ease all;
}
#error
{
	margin-left: 24px;

}
